<html>
    <head>
        <title>Olá</title>
    </head>
    <body>
        <form action="/enviar" method="POST">
            <input name="email" type="text" placeholder="Email">
            <input name="senha" type="Password" placeholder="Senha">
            <input name="dest" type="email" placeholder="Destinatário">
            <input name="assunto" type="text" placeholder="Assunto">
            <textarea name="mensagem" id="" cols="30" rows="10" placeholder="Mensagem"></textarea>
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>